/* Use a reset first */
* {
  box-sizing: border-box;
}
.combo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 3px;
  margin: 10px;
}
.menu-nav.menu-nav-right {

  justify-content: end;
  justify-items: end;

}
.menu-nav.menu-nav-right .jmenu {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
  justify-items: right;
}
.menu-nav.menu-nav-right .jmenu ul {
  grid-row: 2
}

.hover-menu, .click-menu {
  position: relative;
  min-width: 100px;
}
.hover-menu a, .click-menu a{
  text-decoration: none;
  display: block;
  border: 1px solid gray;
  padding: 5px;

  /*Optional Styling */
  font-family: 'Comic Sans MS', cursive;
  color: #006;
  background-color: white;
  border-radius: 3px;
}
a:hover, .jmenu-active>a, .hover-menu:hover>a {
  /*Optional Styling */
  background-color: #ECFFFF;
  color: #003;
  border-radius: 6px;
  border-width: 3px;
}

.hover-menu ul, .click-menu ul {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
}
.hover-menu ul a, .click-menu ul  {
  width:100%;
}
/*Optional down symbol */
/* .hover-menu>a:after, .click-menu>a:after {
  content:"▼";
} */

.hover-menu:hover ul, .jmenu-active ul {
  visibility: visible;
}
.menu-appear ul{
  opacity: 0;
  transition: none;
  transform: translateY(-10px);
}
.menu-appear:hover ul, .menu-appear.jmenu-active ul {
  transition: all 300ms ease-in-out;
  opacity: 1;
  transform: none;
}

.menu-unfurl ul{
  opacity: 0;
  transition: none;
  transform: rotateX(90deg);
  transform-origin: top;
}
.menu-unfurl:hover ul, .menu-unfurl.jmenu-active ul {
  transition: all 300ms ease-in-out;
  opacity: 1;
  transform: none;
}

.menu-slide ul{
  opacity: 0.5;
  transition: none;
  transform: translateX(-80px);

}
.menu-slide:hover ul, .menu-slide.jmenu-active ul  {
  transition: all 250ms cubic-bezier(.18,.57,.83,1.4);
  opacity: 1;
  transform: none;
}

/*Hamburger menu */

a.hamburger {
  background-image: url('./hamburger.svg');
  background-size: cover;
  width: 2.4rem;
  height: 2rem;
  border:none;
}
div.hover-menu a.hamburger:hover, div.jmenu.jmenu-active a.hamburger,
.hover-menu:hover>a.hamburger {
  background-color: white;
}
